@import 'Variables';
@import 'Footer.scss';

.App {
  text-align: center;
  height: 100%;
  display: flex;
}

.appTitle {
  text-shadow: 0px 4px 4px rgba(255, 249, 249, 0.25);
  color: $secondary_color;
  font-weight: bolder;
}

button{
  background-color: $third_color;
  //box-shadow: -2rem 2rem 2rem rgba(white, 0.2);
  opacity: 0.95;
  border-radius: 3px;
  //color: $font_color;
  color: $secondary_color;
  border: 0px;
  font-weight: bold;

}

.cardTitle{
 background-color: $third_color;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -10px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

//.monthInputs, .monthExpenses, .monthEndBalance {
//  margin-top: 10px;
//  background-color: $third_color;
//  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
//}

.monthExpenses {
  margin-top: 10px;
  background-color: $third_color;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.monthHeader {
  font-weight: bolder;
}

.monthInputs, .monthEndBalance {
  padding: 5px;
}

.monthInputs {
  background-color: $secondary_color;
  opacity: .95;
  color: $font_color;
  //box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#month {
  height: 30px;
}
html {
  background-color: $third_color;
}

.inputBox {
  padding: 5px;
  margin: 7px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.inputLabel{
  text-align: left;
  padding: 10px;
  margin-left: 20px;
}

.inputSection{
  display: flex;
  flex-direction: column;
  text-align: center;
}
//
//.App-logo {
//  height: 40vmin;
//  pointer-events: none;
//}
//
//@media (prefers-reduced-motion: no-preference) {
//  .App-logo {
//    animation: App-logo-spin infinite 20s linear;
//  }
//}
.menuOpen {
  font-size: 5em;
  z-index: 1;
  color: $secondary_color;
}

.monthCard{
  background-color: $primary_color;
  border: 2px solid $third_color;
  color: $font_color;
  //text-shadow: 1px 1px $font_dark;
  margin: 10px;
  padding: 20px;
  width: 16em;
  box-shadow: -2rem 2rem 2rem rgba(white, 0.2);
  opacity: 0.95;
  //border-radius: 5px;
  display: flex;
  flex-direction: column;
  //justify-content: inherit;
}
.negativeBalance {
  background-color: $negative_color;
  color: $font_dark;
  font-weight: bold;
}

.positiveBalance {
  background-color: $secondary_color;
  color: $font_dark;

}

.mainSection{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.App-header {
  background-color: #282c34;
  //display: flex;
  //flex-direction: column;
  //align-items: center;
  //justify-content: center;
  //font-size: calc(10px + 2vmin);
  color: white;
  position: sticky;
  z-index: 1;
  opacity: 78%;
  max-width: 50%;
  height: 100%;

}
//
//.App-link {
//  color: #61dafb;
//}
//
//@keyframes App-logo-spin {
//  from {
//    transform: rotate(0deg);
//  }
//  to {
//    transform: rotate(360deg);
//  }
//}
